*{
    margin: 5px;
}

div {
    margin: auto;
    width: 300px;
  

}

div:hover{
    border: 1px red solid;
}

div>img 
{
    width: 200px;
    padding-left: 40px;

}

.title{
    padding-left: 30px;
    
}
